* {
    margin: 0px;
    padding: 0px;

}

body {
    background-color: salmon;
}

#header-title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color:beige;
    border:3px solid black;
    padding: 30px;
    margin: 30px 20px;
}

.recipe-list {
    margin: 10px;
}

.item a {
    text-align: center;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color:brown;
    display: block;
}

.item img {
    border: 2px solid black;
    height: 150px;
    width: 150px;
}

.item {
    display: inline-block;
    border:3px solid black;
    margin: 10px;
    padding: 10px;
    width: auto;
}

.item:hover {
    background-color: beige;
}

.item:active {
    background-color: bisque;
}

.footer {
    padding: 5px;
    position: fixed;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    bottom: 0;
}